@import "../vendor/bootstrap/scss/functions";
@import "variables";

@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/code";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
//@import "../vendor/bootstrap/scss/button-group";
//@import "../vendor/bootstrap/scss/input-group";
//@import "../vendor/bootstrap/scss/custom-forms";
//@import "../vendor/bootstrap/scss/nav";
//@import "../vendor/bootstrap/scss/navbar";
//@import "../vendor/bootstrap/scss/card";
//@import "../vendor/bootstrap/scss/close";
@import "../vendor/bootstrap/scss/utilities";

html,
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-section {
    & {
        padding: 64px 0;
        position: relative;
    }
    &.section-map {
        & {
            padding: 0;
            margin: 80px 2px;
            background-color: lightgray;
            height: 650px;
            position: relative;
        }
        img {
            max-width: 100%;
        }
        .floating-container {
            position: absolute;
            top: 0;
            margin: 20px;
            max-width: 650px;
        }
        .control-box {
            & {
                background: aliceblue;
            }
            input {
                padding: 6px 12px;
                border: none;
            }
            .fa-solid {
                font-size: 120%;
            }
        }

        .btn-round {
            background-color: white;
            border-color: #436ced;
            border-radius: 50rem;
            padding: 6px 16px;
        }

        .content-box {
            background-color: white;
            height: 320px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .note {
            font-size: 90%;
            font-style: italic;
        }

        #landing-box {
            .block-body {
                h3 {
                    margin-bottom: 1rem;
                }
            }
        }

        #result-box,
        #marker-detail {
            width: 100%;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .block-hor {
        & {
            display: flex;
            flex-wrap: wrap;
        }
        .block-thumb {
            margin-right: 8px;
        }
        .item:not(:last-child) {
            margin-right: 8px;
        }
    }
    .box {
        border-radius: 8px;
    }
    .box-shadow {
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    }
}
